.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 999;
  }
  
  .circle-1 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background-color: #fff; 
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      bottom: 100%;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 40%;
    }
  }
